<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admincollageapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/viitlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/viitlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdminCollageApp">

        <activity
            android:name="com.example.admincollageapp.LoginActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:exported="true">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>

        <activity
            android:name="com.example.admincollageapp.notice.DeleteNoticeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.admincollageapp.faculty.UpdateTeacherActivity"
            android:exported="false" />
        <activity
            android:name="com.example.admincollageapp.faculty.AddTeacher"
            android:exported="false" />
        <activity
            android:name="com.example.admincollageapp.faculty.UpdateFaculty"
            android:exported="false" />
        <activity
            android:name="com.example.admincollageapp.UploadPdfActivity"
            android:exported="false" />
        <activity
            android:name="com.example.admincollageapp.UploadImage"
            android:exported="false" />
        <activity
            android:name="com.example.admincollageapp.notice.UploadNotice"
            android:exported="false" />
        <activity
            android:name="com.example.admincollageapp.MainActivity"
            android:exported="true"/>

    </application>

</manifest>